div.img-fluid {
   
    margin: 0 auto;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;
  }
  div.img-bkg {
    padding: 100px;
    display: flex;
    background: #FFFFFF url("images/wp2373311-cs-go-wallpapers.png") no-repeat right top fixed;
    background-size: 100%;   
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;
    
  }
  
  